/* src/stalin.css */
/* main.css */
.card[data-v-040c75b6] {
  border: 1px solid #ddd;
  display: grid;
  place-items: center;
}
h2[data-v-ea994a51] {
  color: lightcoral;
}
#front[data-v-ea994a51] {
  display: grid;
  place-items: center;
}
.row[data-v-ea994a51] {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
  min-height: 120px;
}
.list-enter-active[data-v-ea994a51],
.list-leave-active[data-v-ea994a51] {
  transition: all 0.5s ease;
}
.list-enter-from[data-v-ea994a51],
.list-leave-to[data-v-ea994a51] {
  opacity: 0;
  transform: translateX(30px);
}
.list-move[data-v-ea994a51],
.list-enter-active[data-v-ea994a51],
.list-leave-active[data-v-ea994a51] {
  transition: all 0.5s ease;
}
.list-enter-from[data-v-ea994a51],
.list-leave-to[data-v-ea994a51] {
  opacity: 0;
  transform: translateX(30px);
}
.list-leave-active[data-v-ea994a51] {
  position: absolute;
}

/* src/main.css */
